.page--signup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: 'center';
    justify-content: center;
    
}

.page--signup .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 400px; */
    margin: 0 auto;
    width: 80%;
    max-width: 1440px;
    /* border: 1px solid #ccc; */
    /* border-radius: 10px; */
    /* background-color: saddlebrown; */
}

@media (max-width: 1200px) {
    .bg__image {
        display: none;
    }
}

.bg__image {
    width: 100%;
}